<template>
    <div class="home">
        <Content slug="" />
    </div>    
</template>

<script>
import Content from "@/views/Content";

export default {
    name: "app",
    components: {
        Content,
    },
    methods: {}    
}
</script>
