<template>
    <section class="container">
        <article class="image-container" 
            :class="{'sold-out': isSoldOut }" >
            <img class="grow image" :src="getImageSrc()" />
        </article>
        <article class="info">
            <!-- {{product.title}} - {{product.price | currency }} - {{product.inventory}} -->
            <div class="title">
                {{product.title}}
            </div>
            <div class="inventory">
                <span> &#9733;</span> 7 &nbsp; &nbsp; Gênero
            </div>

            <div class="bottom">
                <div class="inline price">
                    {{product.price | currency}}
                </div>
                <div class="inline action">
                    <el-button 
                        type="primary" 
                        size="small"
                        plain
                        :disabled="!productIsInStock(product)"
                        @click="addProductToCart(product)">
                        Adicionar
                    </el-button>                     
                </div>
            </div>               
        </article>            
    </section>
</template>

<script>
import {mapState, mapGetters, mapActions} from 'vuex';

export default {
    data() {
        return {
        }
    },
    props: {
        product: {
            type: Object,
            required: true,
        },        
    },
    computed: {
        ...mapGetters('products', {
            productIsInStock: 'productIsInStock',
            availableProducts: 'availableProducts',
        }),  
        isSoldOut() {
            let result = !this.$store.getters['products/productIsInStock'](this.product);
            // result = true;
            return result;
        },                     
    },
    methods: {
        ...mapActions({
            addProductToCart: 'cart/addProductToCart',
        }),
        getImageSrc() {
            let image = this.product.image ? this.product.image : 'no-image.png';
            if (this.isSoldOut) {
                image = 'sold-out.png';
            }
            let path = image;
            try {
                path = require(`@/assets/${image}`);
            } catch (e) {+e;}            
            return path;
        }, 
    }
}
</script>

<style scoped>
.container {
    display: inline-block;
    /* padding: 10px; */
    /* height: 420px; */
    width: 250px;
    display: inline-block;    
    vertical-align: top;
    /* margin: 8px; */
    /* border-radius: 10px; */
    border: 1px solid lightgrey;
    margin: 20px;
    margin-bottom: none;
}

.container:first-of-type {   
    border-left: 1px solid lightgrey;
}

.image-container {
    padding: 10px;
    width: 100%;
    /* height: 75%;     */
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #eee; */
    box-sizing: border-box;
    /* border-top-left-radius: 8px;
    border-top-right-radius: 8px; */
}

.sold-out {
    background-color: salmon;
}

.image {
    /* width: 90%; */
    /* height: 200px; */
    height: 75%;
}

.info {
    border-top: 1px solid #eee;
    text-align: left;
    font-family: BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,
        Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,
        Noto Color Emoji;
}

.title {
    margin-top: 15px;
    font-size: 15px;    
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.inventory {
    font-size: 20px;
    margin: 3px 0;
    display: flex;
    justify-content: center;
}

.price {
    font-size: 18px;
    display: flex; 
    justify-content: center;
}

.bottom {
    margin-top: 18px;
}

.el-button--primary.is-plain {
    background-color: #0b5eb1;
    color: #ffffff;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    display: flex; 
    justify-content: center;
}

.el-button--primary.is-plain:focus, .el-button--primary.is-plain:hover {
    color: #fff;
}

@media screen and (max-width: 950px) {
    .container {
        border: 1px solid lightgrey;
        border-top: none;
    }

    .container:first-of-type {   
        border-top: 1px solid lightgrey;
    }        
}

@media screen and (max-width: 600px) {
    .container {
        width: 220px;
        height: 100%;
    }

    .grow:hover {
        transform: unset;
    }       
}
</style>