<template>
    <nav class="nav">
        <router-link to="/" exact>
            <div class="logo">
                <span>LOGO</span>
            </div>        
        </router-link>

        <div class="wrap">
            <div class="search">
                <input type="text" class="searchTerm" placeholder="Pesquisa">
                <button type="submit" class="searchButton">
                    <i class="el-icon-search"></i>
                </button>
            </div>
        </div>


        <button class="slide-panel-button open right" data-for="nav-menu">
            <span class="carrinho" v-if="cartQuantity > 0">
                {{cartQuantity}}
            </span>
        </button>   

        <section class="slide-panel right" id="nav-menu">
            
            <header class="slide-panel-header" >
                <!-- Close button -->
                <button class="slide-panel-button close"></button>

                

                <div class="text">

                </div>
            </header>
            
            <article class="content">  
                <!-- Trending -->
                <ShoppingCart />     


                <router-link :to="{name: 'Checkout'}">
                    <div class="item" >
                        Finalizar compra 
                        <span v-if="cartQuantity > 0">
                            ({{cartQuantity}})
                        </span>
                    </div>
                </router-link>
                                               
            </article>
        </section>            
    </nav>
</template>

<script>
import {mapState, mapGetters, mapActions} from 'vuex';
import SlidePanel from "@/js/SlidePanel"
import ShoppingCart from './ShoppingCart.vue';

export default {
    data() {
        return {};
    },
    mounted() {
        SlidePanel.init();
        let panel = document.querySelector("#nav-menu");
        if (panel) {
            panel.addEventListener("click", (e) => {
                if (isUrl(e.target, panel)) {
                    SlidePanel.close(panel);
                }
            });
        }
        let isUrl = (source, stop) => {
            let elem = source;
            while (elem && elem != stop) {
                if ("href" in elem) {
                    return true;
                }
                elem = elem.parentNode;
            }
            return false;
        };
    },
    computed: {
        ...mapGetters({
            getLoggedInUser: "users/getLoggedInUser",
        }),
        ...mapGetters("cart", {
            cartQuantity: "cartQuantity",
        }),
        isOnLoginPage() {
            return this.$route.path.toLowerCase().indexOf("/login") > -1;
        },
        redirectQuery() {
            return Object.assign({}, this.$route.query, { redirect: this.$route.query.redirect || this.$route.path });
        },
    },
    methods: {
        getNavigationPath(destination) {
            return {
                name: "DestinationDetails",
                params: {
                    id: destination.id,
                    slug: destination.slug
                }
            };
        },
        ...mapActions({
            logOut: "users/logOut",
        }),
        async logOutUser() {
            let shouldLogOut = await this.verifyLogOut();
            if (!shouldLogOut) {
                return;
            }
            let user = await this.logOut();
            this.$message({
                type: "success",
                message: `You have logged out ${user.email}!`
            });
        },
        async verifyLogOut() {
            let user = this.getLoggedInUser();
            let cancelLogout = true;
            try {
                await this.$confirm(`Are you sure you want to log out ${user.email}?`, "Log Out?", {
                    confirmButtonText: "Cancel",
                    cancelButtonText: `Yes, I want to log out`,
                    type: "warning",
                    closeOnClickModal: false,
                    closeOnPressEscape: false,
                    confirmButtonClass: "el-button",
                    cancelButtonClass: "el-button--danger",
                    showClose: false,
                });
            }
            catch (e) {
                cancelLogout = false;
            }
            return !cancelLogout;
        },
    },
    components: { ShoppingCart }
}
</script>

<style scoped>
.inline {
    display: inline-block;
}

.nav {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #82ddd0;
    border-bottom: 1px solid #82ddd0;
    z-index: 1;
    padding: 8px 0;
    /* margin-bottom: 15px; */
    height: 60px;
    box-shadow: 0 1px 2px rgba(130, 221, 208, 0.1),0 1px 4px rgba(130, 221, 208, 0.1),0 2px 8px rgba(130, 221, 208, 0.1);
    z-index: 2;
}

.nav a {
    text-decoration: none;    
}

.nav .header-url {
    color: #42b983;
    color: #4CAF50;
    color: hsla(0,0%,100%,.5);
    font-weight: bold;
}

.nav .header-url:hover {
    color: hsla(0,0%,100%,.75);
}

.nav .nav-right a.router-link-exact-active,
.nav .nav-right a.router-link-active {
    color: #ea7201;
    /* color: white; */
    /* font-style: italic; */
    font-size: 20px;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.links {
    padding-right: 20px;
    list-style: none;
}

.links:hover {
    text-decoration: underline;
}

.logo {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    margin-left: 15px;
    padding-left: 20px;    
}

.logo .image {
    height: 20px;
    margin-right: 7px;
    transform: translateY(8%);
}

.nav-right {
    position: absolute;
    right: 0;   
    margin-right: 60px;
}

.el-button--warning {
    background-color: #ffc107;
    font-weight: bold;
}

.el-button--warning:focus, .el-button--warning:hover {
	background: #ebb563;
	border-color: #ebb563;
	color: #FFF;
}

.logout {
    color: hsla(0,0%,100%,.5);
    margin-right: 20px;
    cursor: pointer;
}

.logout:hover {
    color: white;
}

@media screen and (max-width: 800px) {
    .nav-right .nav-account {
        display: none;
    }     
}

@media screen and (max-width: 600px) {
    .checkout-text {
        display: none;
    }
    .logo {
        font-size: 16px;
    } 
    .logo .image {
        height: 18px;
    }
}

@media screen and (max-width: 560px) {
    .logo {
        font-size: 13px;
    }  
    .logo .image {
        margin-right: 3px;
    }            
}

@media screen and (max-width: 400px) {
    .logo {
        font-size: 11px;
        width: 180px;
    }          
}
</style>

<style src="../css/SlidePanel.css"></style>

<style scoped>
.slide-panel-button.open:before {
    background-image: url(../assets/carrinho.png);
}

.slide-panel-button.close:before {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35' height='35' viewBox='0 0 24 24' fill='none' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='18' y1='6' x2='6' y2='18'%3E%3C/line%3E%3Cline x1='6' y1='6' x2='18' y2='18'%3E%3C/line%3E%3C/svg%3E");
}

.slide-panel-button:hover {
    background-color: #81818115;
}

.slide-panel-button.open:hover {
    border-radius: 8px;
}

.slide-panel .links a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181!important;
    display: block;
}

.slide-panel .links a:hover {
    color: orangered;
}

.slide-panel .links {
    margin: auto;
}

.menu-header {
    margin-top: 50px; 
    text-align: center;
}

.slide-panel .content {
    text-align: left;
}

.slide-panel-button .logout {
    color: hsla(0,0%,100%,.5);
    cursor: pointer;
}

.slide-panel-button .logout:hover {
    color: black;
}

.slide-panel-header {
    padding: 13px; 
    background-color: #f4f4f4;
    background-color: #82ddd0;
    color: white;
    border-bottom: 1px solid #dadada;
    text-align: center;
}

.slide-panel-header, .slide-panel-header a {
    color: white;
}

.slide-panel .item {
    background-color: #82ddd0;
    padding: 12px;
    padding-left: 28px;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
}

.slide-panel .item, .slide-panel .item a {
    color: #2c3e50;
}

.slide-panel .item:hover {
    background-color: rgba(11, 94, 177, 0.301);
    /* cursor: pointer; */
}

.slide-panel .menu-title {
    padding: 23px 8px 4px 15px;
    font-size: 21px;
    font-weight: 700;
    line-height: 24px;
    color: #111;
    text-transform: capitalize;    
}

.slide-panel-header .text {
    height:20px;
}

.slide-panel-button.right {
    margin-right: 6px;
}

.carrinho {
    background-color: orange;
    border-radius: 50%;
    padding: 3px 6px 3px 3px;
}

.search {
  width: 100%;
  height: 40px;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 1px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 36px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #00B4CC;
  border-left: none;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>