@import url('https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100');

.slide-panel {
    position: fixed;
    width: 300px;
    top: 0;    
    left: 0;
    transform: translate(-100%, 0%); /* (x, y) */
    height: 100%;
    overflow: auto;
    transition: transform 220ms ease-in-out;   
    z-index: 1000;
    background-color: #f3f3f3;
    background-color: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.55);
    font-family: "Roboto",sans-serif, Marmelad,"Lucida Grande",Arial,"Hiragino Sans GB",Georgia,"Helvetica Neue",Helvetica;    
}

.slide-panel.right {
    right: 0;
    left: auto;
    transform: translate(100%, 0%);
}

.slide-panel.top {
    top: 0;
    bottom: auto;
    transform: translate(0%, -100%);
}

.slide-panel.bottom {
    bottom: 0;
    top: auto; 
    transform: translate(0%, 100%);
}

.slide-panel.open {
    transform: translate(0%, 0%);
}

@media screen and (max-width: 450px) {
    .slide-panel {
        width: 80%;
    }
    .slide-panel.top, .slide-panel.bottom {
        width: 100%;
    }    
}

.slide-panel-background {
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    visibility: hidden;
    transition: visibility 300ms, opacity 300ms;
}

.slide-panel-background.open {
    opacity: 1;
    visibility: visible;
}

.slide-panel-button:hover {
    background-color: #eee;
}

.slide-panel-button {
    display: inline-block;
    cursor: pointer;
    padding: 10px;     
    background: none; 
    border: none;
    position: absolute;
    left: 0;    
}

.slide-panel-button.right {
    right: 0;
    left: auto;
}

.slide-panel-button.close {
    top: 0;
}

.slide-panel-button:before {
    width: 25px;
    height: 25px;
    content: "";
    display: inline-block;
    vertical-align: middle;
    background-size: 100%;
    background-repeat: no-repeat;
}

.slide-panel-button.open:before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35' height='35' viewBox='0 0 24 24' fill='none' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='3' y1='12' x2='21' y2='12'%3E%3C/line%3E%3Cline x1='3' y1='6' x2='21' y2='6'%3E%3C/line%3E%3Cline x1='3' y1='18' x2='21' y2='18'%3E%3C/line%3E%3C/svg%3E");
}

.slide-panel-button.close:before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35' height='35' viewBox='0 0 24 24' fill='none' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='18' y1='6' x2='6' y2='18'%3E%3C/line%3E%3Cline x1='6' y1='6' x2='18' y2='18'%3E%3C/line%3E%3C/svg%3E");
}/* http://programmingnotes.org/ */